/*

    - reset default element style
    - set 10px to 1rem
    - set line-height to golden ratio

*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap);
* {
  box-sizing: border-box;
  font-display: swap;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  /* pour retirer la mise en avant */
}

html {
  font-size: 62.5%;
  line-height: 1.618;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  overflow-wrap: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

input,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  outline: none;
  resize: none;
}

input[type=checkbox] {
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  border: 0.2rem solid black;
  height: 1.5rem;
  width: 1.5rem;
}
input[type=checkbox]:checked {
  background-color: black;
}

p {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}

h2 {
  color: black;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

body header {
  height: 30rem;
  background: linear-gradient(139deg, #feda75 0%, #fa7e1e 32%, #d62976 66%, #962fbf 100%);
}
body main {
  position: relative;
  margin-bottom: 10em;
}
body main section {
  position: absolute;
  top: -18em;
  padding: 0 18em;
  display: flex;
  flex-direction: row;
  width: 100%;
}
body main section .col1 {
  width: 40%;
}
body main section .col2 {
  width: 60%;
  display: flex;
  flex-direction: column;
}
body main section .col2 .title {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}
body main section .col2 .login {
  background-color: #458eff;
  padding: 0 3em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
}
body main section .col2 article {
  border: 1px solid white;
  border-radius: 0.5em;
  background-color: white;
  height: fit-content;
  margin-top: 2em;
  padding: 2em 6em 0em 3em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
body main section .col2 article * {
  text-align: left;
}
body main section .col2 article p:first-of-type {
  padding-top: 2em;
}
body main section .col2 article p {
  padding-bottom: 1em;
}
body footer {
  width: 100vw;
  background-color: white;
  margin-top: 46em;
  margin-bottom: 10em;
}
body footer ul {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body footer ul li:not(:last-of-type) {
  font-weight: 600;
  color: #458eff;
}

/*# sourceMappingURL=app.css.map */
